@use 'sass:map';
@use '@angular/material' as mat;
@import '@angular/material/theming';

$dynamic-palette-primary: (
  50 : var(--theme-primary-50),
  100 : var(--theme-primary-100),
  200 : var(--theme-primary-200),
  300 : var(--theme-primary-300),
  400 : var(--theme-primary-400),
  500 : var(--theme-primary-500),
  600 : var(--theme-primary-600),
  700 : var(--theme-primary-700),
  800 : var(--theme-primary-800),
  900 : var(--theme-primary-900),
  A100 : var(--theme-primary-A100),
  A200 : var(--theme-primary-A200),
  A400 : var(--theme-primary-A400),
  A700 : var(--theme-primary-A700),
  contrast: (
    50: var(--theme-primary-contrast-50),
    100: var(--theme-primary-contrast-100),
    200: var(--theme-primary-contrast-200),
    300: var(--theme-primary-contrast-300),
    400: var(--theme-primary-contrast-400),
    500: var(--theme-primary-contrast-500),
    600: var(--theme-primary-contrast-600),
    700: var(--theme-primary-contrast-700),
    800: var(--theme-primary-contrast-800),
    900: var(--theme-primary-contrast-900),
    A100: var(--theme-primary-contrast-A100),
    A200: var(--theme-primary-contrast-A200),
    A400: var(--theme-primary-contrast-A400),
    A700: var(--theme-primary-contrast-A700),
  )
);

$dynamic-palette-accent: (
  50 : var(--theme-accent-50),
  100 : var(--theme-accent-100),
  200 : var(--theme-accent-200),
  300 : var(--theme-accent-300),
  400 : var(--theme-accent-400),
  500 : var(--theme-accent-500),
  600 : var(--theme-accent-600),
  700 : var(--theme-accent-700),
  800 : var(--theme-accent-800),
  900 : var(--theme-accent-900),
  A100 : var(--theme-accent-A100),
  A200 : var(--theme-accent-A200),
  A400 : var(--theme-accent-A400),
  A700 : var(--theme-accent-A700),
  contrast: (
    50: var(--theme-accent-contrast-50),
    100: var(--theme-accent-contrast-100),
    200: var(--theme-accent-contrast-200),
    300: var(--theme-accent-contrast-300),
    400: var(--theme-accent-contrast-400),
    500: var(--theme-accent-contrast-500),
    600: var(--theme-accent-contrast-600),
    700: var(--theme-accent-contrast-700),
    800: var(--theme-accent-contrast-800),
    900: var(--theme-accent-contrast-900),
    A100: var(--theme-accent-contrast-A100),
    A200: var(--theme-accent-contrast-A200),
    A400: var(--theme-accent-contrast-A400),
    A700: var(--theme-accent-contrast-A700),
  )
);

$dynamic-palette-warn: (
  50 : var(--theme-warn-50),
  100 : var(--theme-warn-100),
  200 : var(--theme-warn-200),
  300 : var(--theme-warn-300),
  400 : var(--theme-warn-400),
  500 : var(--theme-warn-500),
  600 : var(--theme-warn-600),
  700 : var(--theme-warn-700),
  800 : var(--theme-warn-800),
  900 : var(--theme-warn-900),
  A100 : var(--theme-warn-A100),
  A200 : var(--theme-warn-A200),
  A400 : var(--theme-warn-A400),
  A700 : var(--theme-warn-A700),
  contrast: (
    50: var(--theme-warn-contrast-50),
    100: var(--theme-warn-contrast-100),
    200: var(--theme-warn-contrast-200),
    300: var(--theme-warn-contrast-300),
    400: var(--theme-warn-contrast-400),
    500: var(--theme-warn-contrast-500),
    600: var(--theme-warn-contrast-600),
    700: var(--theme-warn-contrast-700),
    800: var(--theme-warn-contrast-800),
    900: var(--theme-warn-contrast-900),
    A100: var(--theme-warn-contrast-A100),
    A200: var(--theme-warn-contrast-A200),
    A400: var(--theme-warn-contrast-A400),
    A700: var(--theme-warn-contrast-A700),
  )
);

// $dynamic-light-theme-background: (
//     background: map_get($mat-grey, 50),
//     status-bar: map_get($mat-grey, 300),
//     app-bar:    map_get($mat-grey, 100),
//     hover:      rgba(black, 0.04),
//     card:       white,
//     dialog:     white,
//     tooltip:    map_get($mat-grey, 800),
//     disabled-button: rgba(black, 0.12),
//     raised-button: white,
//     focused-button: $dark-focused,
//     selected-button: map_get($mat-grey, 300),
//     selected-disabled-button: map_get($mat-grey, 400),
//     disabled-button-toggle: map_get($mat-grey, 200),
//     unselected-chip: map_get($mat-grey, 300),
//     disabled-list-option: map_get($mat-grey, 200),
// );

// $dynamic-light-theme-foreground: (
//   base:              black,
//   divider:           $dark-dividers,
//   dividers:          $dark-dividers,
//   disabled:          $dark-disabled-text,
//   disabled-button:   rgba(black, 0.26),
//   disabled-text:     $dark-disabled-text,
//   elevation:         black,
//   hint-text:         $dark-disabled-text,
//   secondary-text:    $dark-secondary-text,
//   icon:              rgba(black, 0.54),
//   icons:             rgba(black, 0.54),
//   text:              rgba(black, 0.87),
//   slider-min:        rgba(black, 0.87),
//   slider-off:        rgba(black, 0.26),
//   slider-off-active: rgba(black, 0.38),
// );

// Light bg
$light-background:    #fafafa;
$light-bg-darker-5:   darken($light-background, 5%);
$light-bg-darker-10:  darken($light-background, 10%);
$light-bg-darker-20:  darken($light-background, 20%);
$light-bg-darker-30:  darken($light-background, 30%);
$light-bg-lighter-5:  lighten($light-background, 5%);
$dark-bg-tooltip:     lighten(#2c2c2c, 20%);
$dark-bg-alpha-4:     rgba(#2c2c2c, 0.04);
$dark-bg-alpha-12:    rgba(#2c2c2c, 0.12);

$dynamic-light-background-settings: (
  background:               $light-background,
  status-bar:               $light-bg-darker-20,
  app-bar:                  $light-bg-darker-5,
  hover:                    $dark-bg-alpha-4,
  card:                     $light-bg-lighter-5,
  dialog:                   $light-bg-lighter-5,
  tooltip:                  $dark-bg-tooltip,
  disabled-button:          $dark-bg-alpha-12,
  raised-button:            $light-bg-lighter-5,
  focused-button:           $dark-focused,
  selected-button:          $light-bg-darker-20,
  selected-disabled-button: $light-bg-darker-30,
  disabled-button-toggle:   $light-bg-darker-10,
  unselected-chip:          $light-bg-darker-10,
  disabled-list-option:     $light-bg-darker-10,
);

// Light Theme Text
$dark-text: #000000;
$dark-primary-text: rgba($dark-text, 0.87);
$dark-accent-text: rgba($dark-primary-text, 0.54);
$dark-disabled-text: rgba($dark-primary-text, 0.38);
$dark-dividers: rgba($dark-primary-text, 0.12);
$dark-focused: rgba($dark-primary-text, 0.12);

$dynamic-light-foreground-settings: (
  base:              black,
  divider:           $dark-dividers,
  dividers:          $dark-dividers,
  disabled:          $dark-disabled-text,
  disabled-button:   rgba($dark-text, 0.26),
  disabled-text:     $dark-disabled-text,
  elevation:         black,
  secondary-text:    $dark-accent-text,
  hint-text:         $dark-disabled-text,
  accent-text:       $dark-accent-text,
  icon:              $dark-accent-text,
  icons:             $dark-accent-text,
  text:              $dark-primary-text,
  slider-min:        $dark-primary-text,
  slider-off:        rgba($dark-text, 0.26),
  slider-off-active: $dark-disabled-text,
);

// Dark bg
$dark-background:     #2c2c2c;
$dark-bg-lighter-5:   lighten($dark-background, 5%);
$dark-bg-lighter-10:  lighten($dark-background, 10%);
$dark-bg-lighter-20:  lighten($dark-background, 20%);
$dark-bg-lighter-30:  lighten($dark-background, 30%);
$light-bg-alpha-4:    rgba(#fafafa, 0.04);
$light-bg-alpha-12:   rgba(#fafafa, 0.12);

// Background palette for dark themes.
$dynamic-dark-background-settings: (
  background:               $dark-background,
  status-bar:               $dark-bg-lighter-20,
  app-bar:                  $dark-bg-lighter-5,
  hover:                    $light-bg-alpha-4,
  card:                     $dark-bg-lighter-5,
  dialog:                   $dark-bg-lighter-5,
  tooltip:                  $dark-bg-lighter-20,
  disabled-button:          $light-bg-alpha-12,
  raised-button:            $dark-bg-lighter-5,
  focused-button:           $light-focused,
  selected-button:          $dark-bg-lighter-20,
  selected-disabled-button: $dark-bg-lighter-30,
  disabled-button-toggle:   $dark-bg-lighter-10,
  unselected-chip:          $dark-bg-lighter-20,
  disabled-list-option:     $dark-bg-lighter-10,
);

// Dark Theme text
$light-text: #ffffff;
$light-primary-text: $light-text;
$light-accent-text: rgba($light-primary-text, 0.7);
$light-disabled-text: rgba($light-primary-text, 0.5);
$light-dividers: rgba($light-primary-text, 0.12);
$light-focused: rgba($light-primary-text, 0.12);

$dynamic-dark-foreground-settings: (
  base:              $light-text,
  divider:           $light-dividers,
  dividers:          $light-dividers,
  disabled:          $light-disabled-text,
  disabled-button:   rgba($light-text, 0.3),
  disabled-text:     $light-disabled-text,
  elevation:         black,
  hint-text:         $light-disabled-text,
  secondary-text:    $light-accent-text,
  accent-text:       $light-accent-text,
  icon:              $light-text,
  icons:             $light-text,
  text:              $light-text,
  slider-min:        $light-text,
  slider-off:        rgba($light-text, 0.3),
  slider-off-active: rgba($light-text, 0.3),
);


$dynamic-light-theme: (
  primary: mat-palette($dynamic-palette-primary),
  accent: mat-palette($dynamic-palette-accent),
  warn: mat-palette($dynamic-palette-warn),
  is-dark: false,
  foreground: $dynamic-light-foreground-settings,
  background: $dynamic-light-background-settings
);

$dynamic-dark-theme: (
  primary: mat-palette($dynamic-palette-primary),
  accent: mat-palette($dynamic-palette-accent),
  warn: mat-palette($dynamic-palette-warn),
  is-dark: true,
  foreground: $dynamic-dark-foreground-settings,
  background: $dynamic-dark-background-settings
);

$dynamic-typography-settings: mat-typography-config(
  $font-family:   'Roboto, "Helvetica Neue", sans-serif',
  $display-4:     mat-typography-level(112px, 112px, 300, $letter-spacing: -0.05em),
  $display-3:     mat-typography-level(56px, 56px, 400, $letter-spacing: -0.02em),
  $display-2:     mat-typography-level(45px, 48px, 400, $letter-spacing: -0.005em),
  $display-1:     mat-typography-level(34px, 40px, 400),
  $headline:      mat-typography-level(24px, 32px, 400),
  $title:         mat-typography-level(20px, 32px, 500),
  $subheading-2:  mat-typography-level(16px, 28px, 400),
  $subheading-1:  mat-typography-level(15px, 24px, 400),
  $body-2:        mat-typography-level(14px, 24px, 500),
  $body-1:        mat-typography-level(14px, 20px, 400),
  $caption:       mat-typography-level(12px, 20px, 400),
  $button:        mat-typography-level(14px, 14px, 500),
  $input:         mat-typography-level(inherit, 1.125, 400)
);

// $fontConfig: (
//   display-4: mat.define-typography-level(112px, 112px, 300, 'Roboto', -0.0134em),
//   display-3: mat.define-typography-level(56px, 56px, 400, 'Roboto', -0.0089em),
//   display-2: mat.define-typography-level(45px, 48px, 400, 'Roboto', 0.0000em),
//   display-1: mat.define-typography-level(34px, 40px, 400, 'Roboto', 0.0074em),
//   headline: mat.define-typography-level(24px, 32px, 400, 'Roboto', 0.0000em),
//   title: mat.define-typography-level(20px, 32px, 500, 'Roboto', 0.0075em),
//   subheading-2: mat.define-typography-level(16px, 28px, 400, 'Roboto', 0.0094em),
//   subheading-1: mat.define-typography-level(15px, 24px, 500, 'Roboto', 0.0067em),
//   body-2: mat.define-typography-level(14px, 24px, 500, 'Roboto', 0.0179em),
//   body-1: mat.define-typography-level(14px, 20px, 400, 'Roboto', 0.0179em),
//   button: mat.define-typography-level(14px, 14px, 500, 'Roboto', 0.0893em),
//   caption: mat.define-typography-level(12px, 20px, 400, 'Roboto', 0.0333em),
//   input: mat.define-typography-level(inherit, 1.125, 400, 'Roboto', 1.5px)
// );

// $foregroundLightPalette: map-get($dynamic-light-palette, foreground);
// $backgroundLightPalette: map-get($dynamic-light-palette, background);
// $foregroundDarkPalette: map-get($dynamic-dark-palette, foreground);
// $backgroundDarkPalette: map-get($dynamic-dark-palette, background);